/*.sdf
/*.suo
/*.opensdf

/libsukiNES/Debug
/Debug
/sukiNES/Debug
/sukiNES_StressTest/Debug

/sukiNES_StressTest/*.user
/Release
/libsukiNES/Release
/sukiNES/Release
/sukiNES_StressTest/Release
/references/ntscpalette.pal

/roms
